.navbar-custom {
    background: none repeat scroll 0 0 #1a1f35 !important;
}

.btn-primary {
    background: none repeat scroll 0 0 #1a1f35 !important;
    border: 1px solid #30385d !important;
}

.btn-primary:hover {
    background: none repeat scroll 0 0 #30385d !important;
    border: 1px solid #30385d !important;
}

.navbar {
    padding: 30px 0px 30px 80px;
}

.maximum-wid {

    max-width: 50%;
    margin: 0 auto;
}

.carousel-caption {

    position: absolute;
    top: 20%;
    right: 45%;
    text-align: left;
}

.first-block {}

.first-block h5 {
    font-size: 2rem;
}

.first-block h3 {
    font-size: 3rem;
    font-weight: bolder;
}

ul.navbar-nav>li a {
    color: white;
    font-weight: bolder;

    margin-right: 20px;
}



/* ------------------------- Why choose us -----------------------------*/
body {
    margin-bottom: 20rem;
}

.why-choose-us .col-md-6 {
    margin: 0px;
    padding: 0px;
}

.why {
    margin: 10px;
    padding-left: 10px;

}

.why {
    border: 1px solid #ddd;
    margin-right: 10px;
}

.why .row .col-md-4,
.why .row .col-md-8 {

    padding: 10px 20px;
}

.why>.col-md-4>p,
.why .row p {
    font-size: 14px;

}

.why-choose-us .row {
    margin-top: 10px;
}

.choose-words {
    text-align: justify;
    line-height: 2.5rem;
}

.why-choose-us .why:hover {
    background: none repeat scroll 0 0 #353d5f !important;
    color: white;
}

.contain {
    margin: 0 auto;
    max-width: 95%;
}

/*------------WE REPAIR AND SERVICE THESE VEHICLES----------------------*/
.we-repair-these-vehicles {
    margin-top: 10rem;
}

.we-repair-these-vehicles h2 {
    font-weight: bold;
    font-size: 23px;
    text-align: center;

}


.we-repair-bg {
    background: #f5f5f5;
    padding: 3rem 0rem;

}

.we-repair-these-vehicles .we-repair-inside {
    text-align: center;
    padding: 2rem 0rem;
    border-left: 1px solid red;
}

.we-repair-these-vehicles .we-repair-inside h4 {
    font-weight: bold;
    word-spacing: .2rem;
    font-size: 20px;
}

.lines {
    margin: 0 auto;
    max-width: 40%;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    height: 10px;
}

.fa-assistive-listening-systems {
    position: relative;
    top: -2.5rem;
    text-align: center;
    z-index: 1;
    background: #fff;
    font-size: 4rem;

}

.we-repair-bg {
    margin-top: 10rem;
}

h2.we-repairs {
    font-size: 30px;
}

.we-repair-inside i {
    font-size: 5rem !important;
    margin-bottom: 1rem;
}

.contact-us {
    background: none repeat scroll 0 0 #d74516;
    color: white;
    padding: 2rem 0rem;
}

.contact-us p {
    font-weight: 600;
    font-size: 20px;
}

.contact-us i {
    font-size: 2rem;
    margin-top: .5rem;
}

.contact-us h6 {
    font-weight: 600;
}
